<form [formGroup]="myForm">
  <p>
    Hz:
    <mat-slider discrete min="0" max="100" step="1">
      <input matSliderThumb formControlName="hz">
    </mat-slider>
  </p>

  <p>
    Volume:
    <mat-slider discrete min="0" max="100" step="1">
      <input matSliderThumb formControlName="volume">
    </mat-slider>
  </p>

  <p>
    <mat-button-toggle-group
      hideSingleSelectionIndicator
      formControlName="startStop">
      <mat-button-toggle>Start</mat-button-toggle>
      <mat-button-toggle>Stop</mat-button-toggle>
    </mat-button-toggle-group>
  <p>
</form>
