<!-- This is the top-level component for non-boilerplate code. -->
<form [formGroup]="audioControlsFormGroup">
  <p>
    Hz:
    <mat-slider min="0" max="20000" step="1">
      <input matSliderThumb formControlName="hzSlider">
    </mat-slider>
    {{ displayFrequency }} Hz
  </p>

  <p>
    Volume:
    <mat-slider discrete min="0" max="100" step="1">
      <input matSliderThumb formControlName="volume">
    </mat-slider>
  </p>

  <p>
    <button mat-button (click)="toggleAudio()">
      {{ audioControlsFormGroup.get('startStop')!.value ? 'Stop' : 'Start' }}
    </button>
  </p>
</form>
